<!DOCTYPE html>

<html>
    <body>  
        <div>
            <span class="bold">
                Hi {{ organisation_name }},
            </span>
        </div>
        <div class="extra-margin">
            <p>
                <span>
                    A new Snowflake instance has been configured on Snowflake Optimizer under your organisation's account.
                </span>
            </p>
        </div>
        <div class="extra-margin">
            <span><i>Thank You!</i></span>
            <span><i>Team Snowflake Optimizer.</i></span>
        </div>
    </body>
</html>

<style>
    div{
        display: block;
        margin: 10px;
    }
    span{
        display: block;
        margin: 10px;
    }
    .bold{
        font-weight: bold;
    }
    .extra-margin{
        margin-top: 50px;
    }
</style>