<!DOCTYPE html>

<html>
    <body>  
        <div>
            <span class="bold">
                Hi {{ first_name }},
            </span>
        </div>
        <div class="extra-margin">
            <p>
                <span>
                    Your OTP to reset your password is {{ otp }}.
                    <form method="POST", target="127.0.0.1:8080">
                        <input type="submit", value="Submit"> 
                    </form>
                </span>
            </p>
        </div>
        <div class="extra-margin">
            <span><i>Thank You!</i></span>
            <span><i>Team Product Name.</i></span>
        </div>
    </body>
</html>

<style>
    div{
        display: block;
        margin: 10px;
    }
    span{
        display: block;
        margin: 10px;
    }
    .bold{
        font-weight: bold;
    }
    .extra-margin{
        margin-top: 50px;
    }
</style>
